{% extends "base.html" %}
{% block context %}
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">介绍</h1>
          <p>&nbsp;</p>
          <p> 
            北冥有鱼，其名为鲲。鲲之大，不知其几千里也。<br/>
            化而为鸟，其名 为鹏。鹏之背，不知其几千里也。<br/>
            怒而飞，其翼若垂天之云。
          </p>
          
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>环境艺术制作</h2>
            <p>
            
             参考梳理<br/>
             高模大型<br/>
             高模制作<br/>
             低模拓扑<br/>
             低模UV<br/>
             贴图<br/>
             效果展示<br/>
            </p>
            <!--
            <p><a class="btn btn-secondary" href="" role="button">查看详情 &raquo;</a></p>
             -->
          </div>
          <div class="col-md-4">
             <h2>程序优化</h2>
             <p>
              UE4配置<br/>
              UE4蓝图<br/>
              UE4材质<br/>
            </p>
            <!--
            <p><a class="btn btn-secondary" href="" role="button">查看详情 &raquo;</a></p>
             -->
          </div>
          <div class="col-md-4">
            <h2>知识分享</h2>
              <p>
              计算机图形学原理<br/>
              Python编程<br/>
              阿里云环境搭建<br/>
              环境艺术分享<br/>
              角色艺术分享<br/>
            </p>
            <!--
            <p><a class="btn btn-secondary" href="" role="button">查看详情 &raquo;</a></p>
             -->
          </div>
        </div>

        <hr>

      </div> <!-- /container -->

{% endblock context %}
